@media (max-width: 576px) {
  .nav__bar {
    background: #3c6e71;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    align-items: center;
    justify-content: center;
    display: none;
  }

  .nav__list li a {
    color: white;
  }

  .nav__list {
    flex-direction: column-reverse;
    display: block;
  }
}
